css/*
*.css
*.map
*.scss
*ICON
css/DataTables/
css/fontawesome/
!css/tailwindproduccion.css
js/i18n/
js/bootstrap*
js/bulma*
php/PHPExcel/
webfonts/
conexion.php
DataTables/
ViewerJS/
dataTableBulma/
datedropper/
font-awesome/
fontawesome/
fonts/
fullcalendar/
gastos/
imagenes/
img/
planner/
repositorio/
sass/
segoe/
settings/
svg/
tfm/
themify-icons/
timedropper/
imagenes/
DataTables/
files/
nbproject/
svg/
sa/libs/conexion.php
sa/libs/*.css
sa/js/*.map
sa/js/i18n/datepicker*
sa/js/bootstrap*
sa/js/jquery*
sa/js/datepicker*
sa/js/acceso.js
sa/js/Icon
sa/js/moment.js
sa/js/bulma*
sa/js/translation.json
sa/js/rSlider.min.js