css/*
js/i18n/
php/PHPExcel/
webfonts/
conexion.php
DataTables/
ViewerJS/
dataTableBulma/
datedropper/
font-awesome/
fontawesome/
fonts/
fullcalendar/
gastos/
imagenes/
img/
planner/
repositorio/
sa/
sass/
segoe/
settings/
svg/
tfm/
themify-icons/
timedropper/
imagenes/
css/
DataTables/
files/
nbproject/
svg/
